# Python
__pycache__/
*.pyc
*.db

# Environment
.env

# Android
.gradle/
local.properties
*.apk
*.iml
build/

# VS Code
.vscode/

# OS
.DS_Store

# Java / SDK
openJdk-25/
admin/openJdk-25/